[Unit]
Description=Service to run pack files as part of Sapphire-packer
After=multi-user.target

[Service]
Type=simple
KillSignal=SIGINT
ExecStart=/usr/bin/python3 /usr/local/bin/pack-files.py

[Install]
WantedBy=multi-user.target