[Unit]
Description=Service to run stage files as part of Sapphire-packer
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/sapphire/stage-files.py

[Install]
WantedBy=multi-user.target